<% layout('boilerplate') %>

<h1>Hey there this is about us page</h1>
<h1>Hey there this is about us page</h1>
<h1>Hey there this is about us page</h1>
<h1>Hey there this is about us page</h1>
<h1>Hey there this is about us page</h1>
<h1>Hey there this is about us page</h1>
<h1>Hey there this is about us page</h1>
<h1>Hey there this is about us page</h1>